html{
	scroll-behavior:smooth;
}
body{
	margin: 0px;
		padding: 0px;
		font-family: calibri sans-serif,
}

.header{
	border-bottom: 2px solid #dc0101;
	background-color: #fefefe;
}
.page{

}

.column{
	/*border: 1px solid black;*/
		width: 800px;
		margin: 0px auto;
		
}
.page .column{
	height: 100vh;
	
}

#logo-i-social{
	display: flex;
	
}

#logo-holder{
	flex-grow: 1;
	
}
#logo-holder img{
	width: 40px;
	height: 40px;
	margin-left: 60px;
}
#social-holder{
	flex-grow: 1;
	text-align: right;
	
}
#social-holder a{
	text-decoration:none;
}
#social-holder a img{
	width: 24px;
	height: 24px;
	margin: 5px;
}
#main-menu{
	display: flex;
	
}
#main-menu a {
	flex-grow: 1;
	text-align: center;
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	color: #dc0101;
	transition: 300ms;
}
#main-menu a:hover,
#main-menu a.active{
	background: #dc0101;
	color: #ffffff;
}

#pocetna{
	text-align: center;
	color:white;
	background: url('img/cloud.jpg');
	background-size: cover;
	background-attachment: fixed;
}
#pocetna h1{
	font-size: 48pt;
	margin-top: 0px;
	padding-top: calc(50vh - 250px);
}
.dark-box{
	border: 1px solid #ffffff;
	background-color: #22222250;
	font-size: 24pt;
	padding: 40px;
}
#usluge{
	
	background: url('img/usluge.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#karijera{
	
	background: url('img/karijera.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.centar {
	text-align: center;

}

.krugovi{
	display:flex;
	margin: 45px 0;
}
.krug-holder{
	flex-grow: 1;
	text-align: center;
}

.krug{
	background-color: #dc0101;
	color: #ffffff;
	font-size:	48px;
	display: inline-block;
	padding: 25%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-weight: bold;
}
.oznaka{
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}
.tehnologije{
	display: flex;
	margin: 45px 0;

}
.tehnologija{
		flex-grow: 1;
	text-align: center;
}

.tehnologija img{
	width: 48px;
	height: 48px;
}

.tehnologija p{
	font-weight: bold;
}

#usluge{
	color: #ffffff;
}

#usluge h2{
	padding-top: 30px;
}

#usluge img{
	width: 240px;
	height: 120px;
	
}
#usluge-margina{
	margin-bottom: 50px;
}
.service-row{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-between;
}
.service-row > div{
	
	text-align: center;
	position: relative;
	width: 240px;
	height: 120px;
	border: 1px solid #fff;
}

.service-row > div > img{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.service-row > div >p{
	left: 0px;
	right:0px;
	bottom:0px;
	padding: 10px;
	background-color: #ffffffB7;
	position: absolute;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
	border-top: 1px solid white;
	
}


#proizvodi h2{
	padding-top: 50px;
	padding-bottom: 100px;
}

.matrica{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-between;
}
.matrica >div{
	
	text-align: center;
	position: relative;
	width: 240px;
	height: 120px;
	border: 1px solid #fff;
	
}
#proizvodi{
	flex-grow: 1;
	text-align: center;
	font-size: 24px;
	padding-top: 50px;
}
#proizvodi img{
	width: 250px;
	height: 125px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.centriran-text{
	 position:absolute;
  align-items: center;
  justify-content: center;
left: 0;
right: 0;
padding-bottom: 5px;
bottom:0;
	font-size: 24px;
	color: white;
	opacity: 0.0;
	background-color: #FF3C3CAA;
	width:250px;

}

.centriran-text:hover{
	opacity: 1.0;
}
#karijera h2{
	padding-top: 30px;
	text-align: center;
}
.career-columns {
	display: flex;
	
}

.job-list{
	flex-grow: 1;
	flex-basis: 0;
}

.job-descriptions{
	flex-grow: 2;
	flex-basis: 0;
	padding-left: 10px;

}

.job-list label{
	display: block;
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: #ffffffC0;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
}

.job-descriptions input {
	display: none;
}
.job-descriptions .job-description {
	display: none;
} 

.job-descriptions input:checked+.job-description{
	display: block;
}


.job-description{
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: #ffffffC0;
	padding: 10px;
	font-size: 20px;
}

#kontakt h2{
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.kontakt-region{
	display: grid;
	grid-template: "adrese mapa"
				"mejlovi mapa";
	grid-template-columns: 300px 1fr;
}

.kontakt-adrese{
	grid-area: adrese;
	padding-bottom: 15px;
	font-size: 16px;
}

.kontakt-mail{
	grid-area: mejlovi;
	font-size: 16px;
}
.kontakt-mail a{
	text-decoration: none;
	color: #dc0101;
}
.kontakt-mail a:hover{
	text-decoration: underline;
}
.kontakt-mapa{
	grid-area: mapa;
	
}
.footer{
	border-top: 3px solid #dc0101;
	background-color: #fefefe;
	font-size: 13px;
	
}
.footer>.ff{
		display: flex;
}

.footer .footer-column{
	flex-grow: 1;
	flex-basis: 0;
	padding-top: 20px;
	padding-bottom: 50px;
	
}

.align-left{
	text-align: left;
	margin-left: 50px;
}

.align-right{
	text-align: right;
	margin-right: 50px;
}
.link-a{
	text-decoration: none;
	color: #dc0101;
}
.link-a:hover{
	text-decoration:underline;
}






